<font color="#FF0000" size="2"><b>General References</b></font><br>
<a href="http://www.irs.ustreas.gov/formspubs/">IRS Forms Page</a><br>
<a href="http://www.areacode-info.com/">Area Code Info</a><br>
<a href="http://www.nanpa.com/">Area Code Admin</a><br>
<a href="http://www.worldtimeserver.com/">World Times</a><br>
<a href="http://www.timeanddate.com/worldclock/">World Clock</a><br>
<a href="http://www.time.gov/">US Official Time</a><br>
<a href="http://www.usps.com/zip4">US Zip Codes</a><br>
<a href="http://www.canadapost.ca/cpotools/apps/fpo/personal/findPostOfficeByPostalCode?execution=e1s1">Canadian Postal Codes</a><br>
