<table border="0" cellspacing="4" cellpadding="0" width="932">
  <tbody>
    <tr>
      <td width="151">
        <p>
          <a name="OLE_LINK1"></a>
          <a href="file:///\\aci-cluster/vol1/SHARE/SALES/READONLY/INTRANET/Welcome%20to%20Sales%202.htm"
             target="Bottom">
            <strong>Welcome to Sales</strong>
          </a>
        </p>
      </td>
      <td width="22"></td>
      <td width="82">
        <p>
          <a href="file:///\\aci-cluster/vol1/SHARE/SALES/READONLY/INTRANET/HTML/Sales%20Forms.htm"
             target="Bottom">
            <strong>Forms</strong>
          </a>
        </p>
      </td>
      <td width="10"></td>
      <td width="58">
        <p>
          <a href="/MasterProcedureList"
             target="Bottom">
            <strong>ISO</strong>
          </a>
        </p>
      </td>
      <td width="22"></td>
      <td width="10"></td>
      <td width="180">
        <p>
          <a href="http://www.aerocontrols.com/about.html"
             target="Bottom">
            <strong>Mission Statement</strong>
          </a>
        </p>
      </td>
      <td width="10"></td>
      <td width="106">
        <p>
          <a href="file:///\\aci-cluster/vol1/SHARE/SALES/READONLY/INTRANET/HTML/ISO%20CHARTS%20SALES%20JUNE%202017.pdf"
             target="Bottom">
            <strong>Sales Charts</strong>
          </a>
        </p>
      </td>
      <td width="22"></td>
      <td width="99">
        <p>
          <a href="file:///\\aci-cluster/vol1/SHARE/SALES/READONLY/INTRANET/HTML/Directions.htm"
             target="Bottom">
            <strong>Directions </strong>
          </a>
        </p>
      </td>
      <td width="99">
        <p>
          <a href="file:///\\aci-cluster/vol1/SHARE/INTERNET/DESKTOP/ILS.htm" target="_blank">
            <strong>Secure Pages</strong>
          </a>
        </p>
      </td>
    </tr>
  </tbody>
</table>
<!--<div align="center">
  <table border="0" cellspacing="4" cellpadding="0">
    <tbody>
      <tr>
        <td></td>
        <td width="400">
          <p align="center">
            <a href="http://intranet.aerocontrols.com/"
               target="Bottom">
              <img border="0"
                   width="296"
                   height="87"
                   src="file:///C:/Users/ceadmin/AppData/Local/Temp/msohtmlclip1/01/clip_image002.gif"
                   alt="Description: Description: Description: Description: Description: newaerologo" />
            </a>
          </p>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>-->
