<!-- <div>

  <p><strong><span style="font-size:18.0pt;color:#FF0080">Downloadable Forms</span></strong></p>
  <a href="file://aci-cluster/vol1/SHARE/ACCOUNTS/General/REIMBURSEMENT%20(version%2003-2016).pdf" target="_blank">Reimbursement/Expenses Voucher Form</a><br />
  <a href="Accounts/FORMS/Missing%20Receipt%20Form.dotm%20-%20Shortcut.lnk">
      Missing Receipt Form
    </a>
  </div> -->

<div>
  <!-- <h2>{{Articles.Title}}</h2> -->
  <span [innerHTML]="Articles.Article_text"></span>

</div>
