<h4 class="center-block">Shipping & Warehouse</h4><br />
<div>
  <table class="col-lg-2">
    <tbody>
      <tr>
        <td colspan="2">
          <p>
            <strong>ISO Documents</strong>
          </p>
        </td>
      </tr>
      <tr>
        <td width="15">
          <p>
            1.
          </p>
        </td>
        <td>
          <p>
            <a href="/MasterProductlist">
              ISO Procedures
            </a>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <table class="col-lg-2">
    <tbody>
      <tr>
        <td colspan="2">
          <p>
            <strong>Shipping Information:</strong>
          </p>
        </td>
      </tr>
      <tr>
        <td width="15">
          <p>
            1.
          </p>
        </td>
        <td>
          <p>
            <a href="file:///\\aci-cluster\Vol1\SHARE\SHIPPING/READONLY/INTRANET/Docs/General%20Shipping%20Information.doc">
              General Shipping Information
            </a>
          </p>
        </td>
      </tr>
      <tr>
        <td width="15">
          <p>
            2.
          </p>
        </td>
        <td>
          <p>
            <a href="file:///\\aci-cluster\Vol1\SHARE\SHIPPING/READONLY/INTRANET/Docs/FedEx%20Shipping%20Information.doc">
              FedEx Shipping Information
            </a>
          </p>
        </td>
      </tr>
      <tr>
        <td width="15">
          <p>
            3.
          </p>
        </td>
        <td>
          <p>
            <a href="file:///\\aci-cluster\Vol1\SHARE\SHIPPING/READONLY/INTRANET/Docs/UPS%20Shipping%20Information.doc">
              UPS Shipping Information
            </a>
          </p>
        </td>
      </tr>
      <tr>
        <td width="15">
          <p>
            4.
          </p>
        </td>
        <td>
          <p>
            <a href="file:///\\aci-cluster\Vol1\SHARE\SHIPPING/READONLY/INTRANET/Docs/DHL,%20ALG,SCHENKER(BAX%20GLOBAL)%20SHIP%20INFO..doc">
              DHL \ ALG \ Schenker (BAX Global)
            </a>
          </p>
        </td>
      </tr>
      <tr>
        <td width="15">
          <p>
            5.
          </p>
        </td>
        <td>
          <p>
            <a href="file:///\\aci-cluster\Vol1\SHARE\SHIPPING/READONLY/INTRANET/HTML/ExportForm.PDF" target="_blank">
              Export Form
            </a>
          </p>
        </td>
      </tr>
      <tr>
        <td width="15">
          <p>
            6.
          </p>
        </td>
        <td>
          <p>
            <a href="http://www.export.gov/common_export_documents.html" target="_blank">
              Gov. Webpage
            </a>
          </p>
        </td>
      </tr>
      <tr>
        <td width="15">
          <p>
            7.
          </p>
        </td>
        <td>
          <p>
            <a href="file:///\\aci-cluster\Vol1\SHARE\SHIPPING/READONLY/INTRANET/HTML/ShippingInfo.htm" target="_blank">
              Parts Data Information for Shipping
            </a>
          </p>
        </td>
      </tr>
      <tr>
        <td width="15">
          <p>
            8.
          </p>
        </td>
        <td>
          <p>
            <a href="file:///\\aci-cluster\Vol1\SHARE\SHIPPING/READONLY/INTRANET/HTML/Forms/SHIPPING%20REQUEST%20FORM.dot%20-%20Shortcut.lnk"
               target="_blank">
              Shipping Request Form
            </a>
          </p>
        </td>
      </tr>
      <tr>
        <td width="15">
          <p>
            9.
          </p>
        </td>
        <td>
          <p>
            <b>Packing Slips:</b>  
          </p>
          <p>
            <a href="file://aci-cluster/vol1/SHARE/SHIPPING/READONLY/INTRANET/HTML/Forms/Sales%20Packing%20Slip.dotm%20-%20Shortcut.lnk"
               target="_blank">
              SALES
            </a>
          </p>
          <p>
            <a href="file://\\aci-cluster\vol1/SHARE/SHIPPING/READONLY/INTRANET/HTML/Forms/Job%20Packing%20Slip.dot" target="_blank">
              REPAIRS
            </a>
          </p>
        </td>
      </tr>
      <tr>
        <td width="15"></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <table>
    <tbody>
      <tr>
        <td colspan="2">
          <p>
            <strong>Warehouse Documents</strong>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            1.
          </p>
        </td>
        <td>
          <p>
            <a href="file:///\\aci-cluster\Vol1\SHARE\SHIPPING/READONLY/INTRANET/HTML/cisainventory.xls" target="_blank">
              CISA Inventory Purchase
            </a>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
