<table class="col-lg-7">
  <tbody>
    <tr>
      <td>
        NUMBER
      </td>
      <td>
        PROCEDURE
      </td>
      <td>
        OPR
      </td>
      <td>
        DATE
      </td>
    </tr>
    <tr>
      <td>
        ACIM1000-001
      </td>
      <td>
        <a href="QA/TPM/ACIM%201000-001_REV%206.pdf">Training Program Manual</a>
      </td>
      <td>
        MO1
      </td>
      <td>
        January 25, 2016
      </td>
    </tr>
    <tr>
      <td>
        ACIP1000-002
      </td>
      <td>
        <a href="../../../MAINTENANCE-OPERATIONS/READONLY/Procedures/ACIP1000-02.doc">
          Government Property Management
          Plan

        </a>
      </td>
      <td>
        JJT
      </td>
      <td>
        July 11, 2013
      </td>
    </tr>
    <tr>
      <td>
        ACIP1100-001
      </td>
      <td>
        <a href="../../../LEAD/READONLY/Shop%20Procedures/ACIP1100-001%20%20Discrepant%20PN%20or%20SN.doc">
          Discrepant P/N’s and/or
          S/N’s
        </a>
      </td>
      <td>
        MG4
      </td>
      <td>
        July 24. 2006
      </td>
    </tr>
    <tr>
      <td>
        ACIP1100-002
      </td>
      <td>
        <a href="../../../LEAD/READONLY/Shop%20Procedures/ACIP1100-002%20%20New%20Capability%20Process%20.doc">New Capability Process</a>
      </td>
      <td>
        MG4
      </td>
      <td>
        May 08, 2006
      </td>
    </tr>
    <tr>
      <td>
        ACIP1100-003
      </td>
      <td>
        <a href="../../../LEAD/READONLY/Shop%20Procedures/ACIP1100-003%20%20No%20Capability%20Jobs.doc">
          No
          Capability Jobs Received Into Shop
        </a>
      </td>
      <td>
        AV1
      </td>
      <td>
        April 02, 2018
      </td>
    </tr>
    <tr>
      <td>
        ACIP1100-004
      </td>
      <td>
        <a href="../../../LEAD/READONLY/Shop%20Procedures/ACIP1100-004%20%20Partout%20Procedure.doc">Partout Procedure</a>
      </td>
      <td>
        AV1
      </td>
      <td>
        June 12, 2017
      </td>
    </tr>
    <tr>
      <td>
        ACIP1100-005
      </td>
      <td>
        <a href="../../../LEAD/READONLY/Shop%20Procedures/ACIP1100-005%20Scheduling%20AOG%20Jobs%20for%20Sales.doc">
          Scheduling AOG Jobs for
          Sales
        </a>
      </td>
      <td>
        BDC
      </td>
      <td>
        July 10, 2003
      </td>
    </tr>
    <tr>
      <td>
        ACIP1100-006
      </td>
      <td>
        Shop Vacation / Leave Policy
      </td>
      <td>
        BDC
      </td>
      <td>
        Sept 08, 2003 <span style="color:red">(Deleted)</span>
      </td>
    </tr>
    <tr>
      <td>
        ACIP1100-007
      </td>
      <td>
        <a href="../../../LEAD/READONLY/Shop%20Procedures/ACIP1100-007%20Shop%20Job%20Prioritizing.doc">
          Job Prioritizing Guidelines
          for Shop
        </a>
      </td>
      <td>
        MG4
      </td>
      <td>
        July 22, 2004
      </td>
    </tr>
    <tr>
      <td>
        ACIP1100-008
      </td>
      <td>
        <a href="../../../LEAD/READONLY/Shop%20Procedures/ACIP1100-008%20Warranty%20Review%20Committee.doc">
          Warranty
          Review Committee Process
        </a>
      </td>
      <td>
        AV1
      </td>
      <td>
        April 02, 2018
      </td>
    </tr>
    <tr>
      <td>
        ACIP1100-009
      </td>
      <td>
        <a href="../../../LEAD/READONLY/Shop%20Procedures/ACIP1100-009%20Handling%20ESDS%20Devices.doc">Handling of ESDS Devices</a>
      </td>
      <td>
        AV1
      </td>
      <td>
        June 12, 2017
      </td>
    </tr>
    <tr>
      <td>
        ACIP1100-010
      </td>
      <td>
        <a href="../../../LEAD/READONLY/Shop%20Procedures/ACIP1100-010%20AD&amp;SB%20Searches%20on%20Customer%20Jobs.doc">
          AD &amp; SB Searches on
          Customer Jobs
        </a>
      </td>
      <td>
        AV1
      </td>
      <td>
        June 12, 2017
      </td>
    </tr>
    <tr>
      <td>
        ACIP1100-011
      </td>
      <td>
        <a href="../../../LEAD/READONLY/Shop%20Procedures/ACIP1100-011%20Date%20Management.doc">Date Management Procedures</a>
      </td>
      <td>
        AV1
      </td>
      <td>
        June 12, 2017
      </td>
    </tr>
    <tr>
      <td>
        ACIP1100-012
      </td>
      <td>
        <a href="../../../LEAD/READONLY/Shop%20Procedures/ACIP1100-012%20SOP%20Development%20for%20Shop%20Equipment.doc">
          SOP Development for Shop
          Equipment
        </a>
      </td>
      <td>
        MG4
      </td>
      <td>
        June 3, 2008
      </td>
    </tr>
    <tr>
      <td>
        ACIP1100-013
      </td>
      <td>
        <a href="../../../LEAD/READONLY/Shop%20Procedures/ACIP1100-013%20Time-Temperature%20Controlled%20Material.doc">
          Time-Temperature
          Material Control
        </a>
      </td>
      <td>
        AV1
      </td>
      <td>
        April 02, 2018
      </td>
    </tr>
    <tr>
      <td>
        ACIP1100-014
      </td>
      <td>
        <a href="../../../MAINTENANCE-OPERATIONS/READONLY/Procedures/ACIP1100-014_0001.pdf">
          Window
          Glass Restoration
        </a>
      </td>
      <td>
        BET
      </td>
      <td>
        June 17, 2015
      </td>
    </tr>
    <tr>
      <td>
        ACIP1110-01
      </td>
      <td>
        <a href="../../../LEAD/READONLY/Shop%20Procedures/ACIP1110-01%20Gyro%20Shop%20Enviro%20Cntrls.doc">
          Instrument-Gyro Shop
          Environmental Cntrls

        </a>
      </td>
      <td>
        KEJ
      </td>
      <td>
        March 14, 2011
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <h4>QA/Inspection</h4>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>
        ACIP2000-01
      </td>
      <td>
        <a href="../Procedures/ACIP2000-01%20Procedure%20Control.doc">Departmental Procedure Control</a>
      </td>
      <td>
        BET
      </td>
      <td>
        July 6, 2010
      </td>
    </tr>
    <tr>
      <td>
        ACIP2000-02
      </td>
      <td>
        <a href="../../../INSPECT/READONLY/Ship%20Rec%20Insp/Procedures/ACIP2000-02%20REV1.docx">
          Receiving
          Inspection Guide
        </a>
      </td>
      <td>
        SS8
      </td>
      <td>
        March 30, 2018
      </td>
    </tr>
    <tr>
      <td>
        ACIP2000-03
      </td>
      <td>
        <a href="../Procedures/ACIP2000-03%20Records%20Control.doc">Records Control Procedure</a>
      </td>
      <td>
        RW4
      </td>
      <td>
        June 21, 2017
      </td>
    </tr>
    <tr>
      <td>
        ACIP2000-04
      </td>
      <td>
        <a href="../Procedures/ACIP2000-04%20Corrective%20and%20Preventative%20Action.doc">
          Corrective and Preventative
          Action
        </a>
      </td>
      <td>
        BET
      </td>
      <td>
        July 21, 2004
      </td>
    </tr>
    <tr>
      <td>
        ACIP2000-05
      </td>
      <td>
        Tooling/<b style="font-weight:normal">Test</b> Equip General Insp. Requirements
      </td>
      <td>
        BET
      </td>
      <td>
        May 29, 2012 <span style="color:red">(Deleted)</span>
      </td>
    </tr>
    <tr>
      <td>
        ACIP2000-06
      </td>
      <td>
        <a href="../Procedures/ACIP2000-06%20Technicl%20Library%20Operating%20Procedures.pdf">Technical Library Operating Procedures</a>
      </td>
      <td>
        RW4
      </td>
      <td>
        July 14, 2017
      </td>
    </tr>
    <tr>
      <td>
        ACIP2000-07
      </td>
      <td>
        <a href="../Procedures/ACIP2000-07%20Material%20Review%20Board%20(MRB)%20Procedure.doc">
          Material
          Review Board Procedure
        </a>
      </td>
      <td>
        RW4
      </td>
      <td>
        June 13, 2014
      </td>
    </tr>
    <tr>
      <td>
        ACIP2000-08
      </td>
      <td>
        <a href="../Procedures/ACIP2000-08%20Boeing%20Delegated%20Source%20Inspection%20Procedure.doc">
          Boeing
          Delegated Source Inspection Procedure
        </a>
      </td>
      <td>
        RW4
      </td>
      <td>
        November 5, 2014
      </td>
    </tr>
    <tr>
      <td>
        ACIP2000-09
      </td>
      <td>
        <a href="../Procedures/ACIP2000-09%20F.O.D.%20Procedure.doc">F.O.D. Procedure.doc</a>
      </td>
      <td>
        RW4
      </td>
      <td>
        December 19, 2014
      </td>
    </tr>
    <tr>
      <td>
        ACIP2000-10
      </td>
      <td>
        <a href="../Procedures/ACIP2000-10%20Job%20Planning%20Process.doc">Job Planning Process</a>
      </td>
      <td>
        RW4
      </td>
      <td>
        June 14, 2017
      </td>
    </tr>
    <tr>
      <td>
        ACIP2000-11
      </td>
      <td>
        <a href="../Procedures/ACIP2000-11%20No%20Capability%20Job%20Process.doc">
          No Capability
          Job Process
        </a>
      </td>
      <td>
        RW4
      </td>
      <td>
        March 23, 2017
      </td>
    </tr>
    <tr>
      <td>
        ACIP2000-12
      </td>
      <td>
        <a href="../Procedures/ACIP2000-12%20Sub-assembly%20Work%20Order%20Process.doc">
          Sub-Assembly
          Work Order Process
        </a>
      </td>
      <td>
        RW4
      </td>
      <td>
        March 23, 2017
      </td>
    </tr>
    <tr>
      <td>
        ACIP2000-13
      </td>
      <td>
        <a href="../Procedures/ACIP2000-13%20Opening%20a%20Closed%20Job.doc">
          Process for
          Re-Opening Customer Jobs on Hold
        </a>
      </td>
      <td>
        RW4
      </td>
      <td>
        March 23, 2017
      </td>
    </tr>
    <tr>
      <td>
        ACIP2140-01
      </td>
      <td>
        <a href="../../../INSPECT/READONLY/NDI/NDI%20PROCESSES/ACIP2140-01%20Dye%20Rev3.docx">
          Fluorescent
          Liquid Penetrant Testing Process
        </a>
      </td>
      <td>
        BID
      </td>
      <td>
        March 29, 2018
      </td>
    </tr>
    <tr>
      <td>
        ACIP2140-02
      </td>
      <td>
        <a href="../../../INSPECT/READONLY/NDI/NDI%20PROCESSES/ACIP2140-02%20Mag%20Rev3.docx">
          Fluorescent
          Mag Particle Testing Process
        </a>
      </td>
      <td>
        BID
      </td>
      <td>
        March 29, 2018
      </td>
    </tr>
    <tr>
      <td>
        ACIP2140-03
      </td>
      <td>
        <a href="../../../INSPECT/READONLY/NDI/NDI%20PROCESSES/ACIP2140-03%20Ballscrew%20RevO.docx">
          Eddy
          Current Inspection of Ballscrew procedure
        </a>
      </td>
      <td>
        BID
      </td>
      <td>
        June 01, 2018
      </td>
    </tr>
    <tr>
      <td>
        ACIP2140-04
      </td>
      <td>
        <a href="../../../INSPECT/READONLY/NDI/NDI%20PROCESSES/ACIP2140-04%20UT%20Measurement%20RevO.docx">
          Ultrasonic
          Measurement of Window glass proc
        </a>
      </td>
      <td>
        BID
      </td>
      <td>
        June 01, 2018
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <p class="MsoNormal" align="center" style="text-align:center"><span style="font-size:18.0pt;color:red">Shipping &amp; Receiving</span></p>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>
        ACIP5130-01
      </td>
      <td>
        <a href="../../../SHIPPING/READONLY/PROCEDURES/Current%20ISO%20procedures%20Shipping%20Dept/ACIP5130-01%20REV%207.doc">Incoming Receiving for Repairs</a>
      </td>
      <td>
        DM3
      </td>
      <td>
        May 23, 2017
      </td>
    </tr>
    <tr>
      <td>
        ACIP5130-02
      </td>
      <td>
        <a href="../../../SHIPPING/READONLY/PROCEDURES/Current%20ISO%20procedures%20Shipping%20Dept/ACIP5130-02%20REV%202.doc">Incoming Receiving for Purchases</a>
      </td>
      <td>
        DM3
      </td>
      <td>
        May 23, 2017<
      </td>
    </tr>
    <tr>
      <td>
        ACIP5130-03
      </td>
      <td>
        <a href="../../../SHIPPING/READONLY/PROCEDURES/Current%20ISO%20procedures%20Shipping%20Dept/ACIP5130-03%20REV%202.doc">Incoming Receiving for Supplies</a>
      </td>
      <td>
        DM3
      </td>
      <td>
        May 23, 2017
      </td>
    </tr>
    <tr>
      <td>
        ACIP5130-04
      </td>
      <td>
        <a href="../../../SHIPPING/READONLY/PROCEDURES/Current%20ISO%20procedures%20Shipping%20Dept/ACIP5130-04%20REV%203.doc">Shipping Customer Jobs</a>
      </td>
      <td>
        DM3
      </td>
      <td>
        May 23, 2017<
      </td>
    </tr>
    <tr>
      <td>
        ACIP5130-05
      </td>
      <td>
        <a href="../../../SHIPPING/READONLY/PROCEDURES/Current%20ISO%20procedures%20Shipping%20Dept/ACIP5130-05%20REV%203.doc">Shipping Aero Controls’ Jobs</a>
      </td>
      <td>
        DM3
      </td>
      <td>
        May 23, 2017<
      </td>
    </tr>
    <tr>
      <td>
        ACIP5130-06
      </td>
      <td>
        <a href="../../../SHIPPING/READONLY/PROCEDURES/Current%20ISO%20procedures%20Shipping%20Dept/ACIP5130-06%20REV%203.doc">Shipping Sales Orders</a>
      </td>
      <td>
        DM3
      </td>
      <td>
        May 23, 2017<
      </td>
    </tr>
    <tr>
      <td>
        ACIP5130-07
      </td>
      <td>
        <a href="../../../SHIPPING/READONLY/PROCEDURES/saved%20revisions/ACIP5130-07%20REV%202.doc">Shipping Outside Labor</a>
      </td>
      <td>
        DM3
      </td>
      <td>
        May 23, 2017
      </td>
    </tr>
    <tr>
      <td>
        ACIP5130-08
      </td>
      <td>
        <a href="../../../SHIPPING/READONLY/PROCEDURES/Current%20ISO%20procedures%20Shipping%20Dept/ACIP5130-08%20REV%202.doc">Customer Hold Jobs</a>
      </td>
      <td>
        DM3
      </td>
      <td>
        May 23, 2017
      </td>
    </tr>
    <tr>
      <td>
        ACIP5130-09
      </td>
      <td>
        Process for Re-opening Customer
        Jobs
      </td>
      <td>
        TJ
      </td>
      <td>
        June 23, 2010 <span style="color:red">(Deleted)</span>
      </td>
    </tr>
    <tr>
      <td>
        ACIP5130-10<
      </td>
      <td>
        <a href="../../../SHIPPING/READONLY/PROCEDURES/Current%20ISO%20procedures%20Shipping%20Dept/ACIP5130-10%20REV%202.doc">
          Supplies
          Receiving Process
        </a>

      </td>
      <td>
        DM3
      </td>
      <td>
        May 23, 2017
      </td>
    </tr>
  </tbody>
</table>

<table class="col-lg-7">
  <tbody>
    <tr>
      <td></td>
      <td>
        <span style="color: red; font-size: 18pt;">Closed Departments</span>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>
        NUMBER
      </td>
      <td>
        PROCEDURE
      </td>
      <td>
        OPR
      </td>
      <td>
        DATE
      </td>
    </tr>
    <tr>
      <td>
        ACIP5150-01
      </td>
      <td>
        Job Planning Process (Moved to 7060)
      </td>
      <td>
        TJ
      </td>
      <td>
        June 21, 2010 (Deleted)
      </td>
    </tr>
    <tr>
      <td>
        ACIP5150-02
      </td>
      <td>
        Sub Assy Wk Order Process (Moved to 7060)
      </td>
      <td>
        TJ
      </td>
      <td>
        June 21, 2010 (Deleted)
      </td>
    </tr>
    <tr>
      <td>
        ACIP5150-03
      </td>
      <td>
        No Capability Jobs (Moved to 7060)
      </td>
      <td>
        TJ
      </td>
      <td>
        June 21, 2010 (Deleted)
      </td>
    </tr>
    <tr>
      <td>
        ACIP5150-04
      </td>
      <td>
        Process for Re-opening
        Customer Jobs&nbsp; (moved to 5130)
      </td>
      <td>
        TJ
      </td>
      <td>
        January 19, 2000 (Deleted)
      </td>
    </tr>
    <tr>
      <td>
        ACIP7040-01
      </td>
      <td>
        Daily Removal Sheet
      </td>
      <td>
        CL1
      </td>
      <td>
        May 29, 2012 (Deleted)
      </td>
    </tr>
    <tr>
      <td>
        ACIP7040-02
      </td>
      <td>
        Create Contract Services
        Repair Orders
      </td>
      <td>
        CL1
      </td>
      <td>
        May 29, 2012 (Deleted)
      </td>
    </tr>
    <tr>
      <td>
        ACIP7040-03
      </td>
      <td>
        Printing and E-mailing of
        Repair Orders
      </td>
      <td>
        CL1
      </td>
      <td>
        May 29, 2012 (Deleted)
      </td>
    </tr>
    <tr>
      <td>
        ACIP7040-04
      </td>
      <td>
        Status Follow-up by
        Fax/Email - Avistar
      </td>
      <td>
        RE1
      </td>
      <td>
        May 29, 2012 (Deleted)
      </td>
    </tr>
    <tr>
      <td>
        ACIP7040-05
      </td>
      <td>
        Create W/O Status Rpt for
        Contract Svcs
      </td>
      <td>
        RBH
      </td>
      <td>
        May 29, 2012 (Deleted)
      </td>
    </tr>
    <tr>
      <td>
        ACIP7040-06
      </td>
      <td>
        Create Warranty Rpt for
        Contract Svcs
      </td>
      <td>
        RBH
      </td>
      <td>
        May 29, 2012 (Deleted)
      </td>
    </tr>
    <tr>
      <td>
        ACIP7040-07
      </td>
      <td>
        E-mail W/O Status Rpt &amp;
        Warranty Rpt
      </td>
      <td>
        RBH
      </td>
      <td>
        May 29, 2012 (Deleted)
      </td>
    </tr>
    <tr>
      <td>
        ACIP7040-08
      </td>
      <td>

        Quote Approvals or
        Disapprovals


      </td>
      <td>
        CL1
      </td>
      <td>
        May 29, 2012 (Deleted)
      </td>
    </tr>
    <tr>
      <td>
        ACIP7040-09
      </td>
      <td>

        Current Selling Price or
        Repair Price


      </td>
      <td>
        CL1
      </td>
      <td>
        May 29, 2012 (Deleted)
      </td>
    </tr>
    <tr>
      <td>
        ACIP7040-10
      </td>
      <td>

        Create P/L to Redirect
        Mis-shipped Units


      </td>
      <td>
        RBH
      </td>
      <td>
        May 29, 2012 (Deleted)
      </td>
    </tr>
    <tr>
      <td>
        ACIP7040-11
      </td>
      <td>

        Print
        the Receiving Report


      </td>
      <td>
        RBH
      </td>
      <td>
        May 29, 2012 (Deleted)
      </td>
    </tr>
    <tr>
      <td>
        ACIP7040-12
      </td>
      <td>
        Update Computer-Units Rcvd
        from Vndrs


      </td>
      <td>
        CL1
      </td>
      <td>
        May 29, 2012 (Deleted)
      </td>
    </tr>
    <tr>
      <td>
        ACIP7040-13
      </td>
      <td>
        Accounting
        that Need $ Correction


      </td>
      <td>
        RBH
      </td>
      <td>
        May 29, 2012 (Deleted)
      </td>
    </tr>
    <tr>
      <td>
        ACIP7040-14
      </td>
      <td>

        Invoices Posted - Ready for
        Invoicing


      </td>
      <td>
        CL1
      </td>
      <td>
        May 29, 2012 (Deleted)
      </td>
    </tr>
    <tr>
      <td>
        ACIP7040-15
      </td>
      <td>
        Search Flat Rate Exchange
        Transactions


      </td>
      <td>
        CL1
      </td>
      <td>
        May 29, 2012 (Deleted)
      </td>
    </tr>
    <tr>
      <td>
        ACIP7040-16
      </td>
      <td>
        Prepare “F Series” Sales
        Orders/Quotes


      </td>
      <td>
        CL1
      </td>
      <td>
        May 29, 2012 (Deleted)
      </td>
    </tr>
    <tr>
      <td>
        ACIP7040-17
      </td>
      <td>
        Pro-forma Invoice/Quote to
        “Airline”


      </td>
      <td>
        CL1
      </td>
      <td>
        May 29, 2012 (Deleted)
      </td>
    </tr>
    <tr>
      <td>
        ACIP7040-18
      </td>
      <td>
        Print Error Report for
        Invoices
      </td>
      <td>
        CL1
      </td>
      <td>
        May 29, 2012 (Deleted)
      </td>
    </tr>
    <tr>
      <td>
        ACIP7040-19
      </td>
      <td>
        Print Regular Report for
        Invoices
      </td>
      <td>
        CL1
      </td>
      <td>
        May 29, 2012 (Deleted)
      </td>
    </tr>
    <tr>
      <td>
        ACIP7040-20
      </td>
      <td>
        Create Weekly/Monthly
        Budget Reports
      </td>
      <td>
        RBH
      </td>
      <td>
        May 29, 2012 (Deleted)
      </td>
    </tr>
    <tr>
      <td>
        ACIP7040-21
      </td>
      <td>
        Warranty Man-Hour Process
      </td>
      <td>
        RBH
      </td>
      <td>
        May 29, 2012 (Deleted)
      </td>
    </tr>
    <tr>
      <td>
        ACIP7040-22
      </td>
      <td>
        Process Newly Received
        “LEASE” Parts
      </td>
      <td>
        RBH
      </td>
      <td>
        May 29, 2012 (Deleted)
      </td>
    </tr>
    <tr>
      <td>
        ACIP7040-23
      </td>
      <td>
        Customer Feedback Process
      </td>
      <td>
        RE1
      </td>
      <td>
        May 29, 2012 (Deleted)
      </td>
    </tr><!---->
    <tr>
      <td>
        ACIP7040-24
      </td>
      <td>
        Aloha Airlines Sales Order
      </td>
      <td>
        RBH
      </td>
      <td>
        May 29, 2012 (Deleted)
      </td>
    </tr>
  </tbody>
</table>

<a [routerLink]="['/QA/MasterProductList/masterlist']">Master Product List</a>
<div>
  <span [innerHTML]="Articles.Article"></span>

</div>
