<div class="text-center"><h3><strong>Quality Assurance</strong></h3></div>
<p align="center">
  <strong>Welcome to the Quality Assurance Intranet Start Up Page</strong>
</p><br />

<div align="center">
  <table border="0" cellspacing="4" cellpadding="0" width="100%">
    <tbody>

      <tr>
        <td>
          <p align="center">
            <br />
            <a href="file:///S:/QA/READONLY/INTRANET/HTML/metrics.htm">
              Shop Metris
            </a>
          </p>
          <p align="center">
            <a href="file:///S:/QA/READONLY/INTRANET/HTML/insp.htm">
              Inspection
            </a>
          </p>
          <p align="center">
            <a href="file:///S:/QA/READONLY/INTRANET/HTML/safety.htm">
              Safety-Enviro
            </a>
          </p>
          <p align="center">
            <a href="file://aci-cluster/VOL1/SHARE/qa/readonly/intranet/HTML/Techlib.htm">
              Technical Library
            </a>
          </p>
          <p align="center">
            <a href="file:///S:/QA/READONLY/INTRANET/HTML/PartsCatalogue.htm">
              Illustrated Parts Catalogue
            </a>
          </p>
        </td>
        <td colspan="2" valign="top"></td>
      </tr>
    </tbody>
  </table>
</div>
<table border="0" cellspacing="4" cellpadding="0" width="100%">
  <tbody>
    <tr>
      <td>
        <table border="0" cellspacing="4" cellpadding="0" width="100%">
          <tbody>
            <tr>
              <td>
                <p align="center">
                  <a href="file:///S:/QA/READONLY/INTRANET/HTML/adap.htm">
                    Anti-Drug/Alcohol Program
                  </a>
                </p>
              </td>
              <td>
                <p align="center">
                  <a href="file:///S:/QA/READONLY/INTRANET/HTML/metrics.htm">
                    Shop Metrics
                  </a>
                </p>
              </td>
              <td>
                <p align="center">
                  <a href="file:///S:/QA/READONLY/INTRANET/HTML/insp.htm">
                    Inspection
                  </a>
                </p>
              </td>
              <td>
                <p align="center">
                  <a href="file:///S:/QA/READONLY/INTRANET/HTML/safety.htm">
                    Safety Environmental
                  </a>
                </p>
              </td>
              <td>
                <p>
                  <a href="file:///S:/QA/READONLY/INTRANET/HTML/Techlib.htm">
                    Technical Library
                  </a>
                </p>
              </td>
              <td>
                <p>
                  <a href="file:///S:/QA/READONLY/INTRANET/HTML/PartsCatalogue.htm">
                    Illustrated Parts Catalogue
                  </a>
                </p>
              </td>
              <td><a [routerLink]="['/MasterProcedureList']">Master Product List</a></td>
            </tr>
          </tbody>
        </table>
        <p align="center">
          <em>Page Last Updated 09/12/2006bet </em>
          <!--<em>
            <a href="file:///S:/QA/READONLY/QA%20Stuff/Audit/Certificates/ISOCERT%20Exp%2006%20Sep%2009.pdf">
              ISO/AS Certificate
            </a>
          </em>
          <em> </em>-->
        </p>
      </td>
    </tr>
  </tbody>
</table>


<!--<div>
  <span [innerHTML]="Articles.Article"></span>
</div>-->
