<div>
  <h1>Customer Service Department - 7030</h1>
</div>
<table border="1" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td width="444" valign="top">
        <p>
          <strong>Byron Schreiber </strong>
          <strong>– Dire</strong>
          <strong>ctor of Customer Service</strong>
        </p>
      </td>
      <td width="444" valign="top">
        <p>
          <strong>Ext: 3080</strong>
        </p>
      </td>
    </tr>
    <tr>
      <td width="444" valign="top">
        <p>
          <strong></strong>
        </p>
      </td>
      <td width="444" valign="top">
        <p>
          <strong></strong>
        </p>
      </td>
    </tr>
    <tr>
      <td width="444" valign="top">
        <p>
          <strong>Brad Keetch </strong>
          <strong>–</strong>
          <strong> Account Manager</strong>
        </p>
      </td>
      <td width="444" valign="top">
        <p>
          <strong>Ext: 3082</strong>
        </p>
      </td>
    </tr>
    <tr>
      <td width="444" valign="top">
        <p>
          <strong></strong>
        </p>
      </td>
      <td width="444" valign="top">
        <p>
          <strong></strong>
        </p>
      </td>
    </tr>
    <tr>
      <td width="444" valign="top">
        <p>
          <strong>Yolanda Grant </strong>
          <strong>–</strong>
          <strong> Account Manager</strong>
        </p>
      </td>
      <td width="444" valign="top">
        <p>
          <strong>Ext: 3083</strong>
        </p>
      </td>
    </tr>
    <tr>
      <td width="444" valign="top">
        <p>
          <strong></strong>
        </p>
      </td>
      <td width="444" valign="top">
        <p>
          <strong></strong>
        </p>
      </td>
    </tr>
    <tr>
      <td width="444" valign="top">
        <p>
          <strong>Chris Winn – Account Manager</strong>
        </p>
      </td>
      <td width="444" valign="top">
        <p>
          <strong>Ext: 3084</strong>
        </p>
      </td>
    </tr>
  </tbody>
</table>
