
<div class="col-lg-9 responsive">
  <h3>
    <font color="#FF0000"><b>Aviation Related Pubs</b></font>
    </h3><br>
    <a href="http://www.airlines.org">ATA</a><br>
    <a href="http://www.jaa.nl">JAA</a><br>
    <a href="http://www.caseinc.org">CASE</a><br>
    <a href="http://active.boeing.com/doingbiz/d14426/specindex.cfm">Boeing Doc Spec Index</a><br>
    <a href="http://www.boeingsuppliers.com/idscommon/clauses/clause_index.htm">Boeing IDS Codes</a><br>
    <a href="https://cage.dla.mil/search/begin_search.aspx">CAGE/DLSC</a><br>
    <a href="http://www.fcc.gov/oet/fccid">FCC ID Search</a><br>
    <a href="file:///S:/QA/READONLY/INTRANET/HTML/libOHM.htm">OHM Publications</a><br>
    <a href="http://www.dscc.dla.mil/programs/milspec/">Mil Spec Search @ DOD</a><br>
    <a href="http://assistdoc1.dla.mil/">Mil Spec Quick Search</a><br>
    <a href="http://www.faa.gov">FAA</a><br>
    <a href="http://av-info.faa.gov/sdrx/" target="_blank">FAA Service Difficulty Reports</a><br />
    <a href="https://www.faa.gov">Search FAA Database</a><br>
    <a href="http://www.airweb.faa.gov/Regulatory_and_Guidance_Library/rgpma.nsf/MainFrame?OpenFrameSet">Search FAA PMA</a><br>
    <a href="http://www.airweb.faa.gov/Regulatory_and_Guidance_Library/rgSTC.nsf/MainFrame?OpenFrameSet">Search FAA STC</a><br>
    <a href="http://siri.org">SIRI</a><br>
    <a href="http://www.msds.com">MSDS</a><br>
    <a href="http://www.dlis.dla.mil/webflis/pub/pub_search.aspx">DSCC NSN Search</a><br>
    <a href="http://lrc3.monmouth.army.mil/nsn/nsndata/index.cfm">LRC</a><br>
    <a href="http://easa.europa.eu">EASA Home Page</a><br>
    <a href="http://www2.anac.gov.br/certificacao/DA/DAE.asp">ANAC - AD</a>
  </div>
