<div id="mis" class="col-lg-12 pb-5">
  <table class="table">
    <tr>
      <th></th>
      <th class="th text-center"><h3>MIS</h3></th>
      <th class="th text-center">Main Contact. x3010</th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>DEPARTMENT STAFF</th>
      <th>Position</th>
      <th>Ext</th>
      <th>E-Mail</th>
      <th>Hours</th>
    </tr>
    <tr>
      <td>
        Carl Elmore (CE1):<br>
      </td>
      <td>
        IT Supervisor/Sys Admin/Developer
      </td>
      <td>
        <span class="glyphicon glyphicon-phone-alt"> x3055</span>
      </td>
      <td>
        <a class=Copy href="mailto:Carl.Elmore@aerocontrols.com"><span class="glyphicon glyphicon-envelope"></span></a>
      </td>
      <td>06:00 AM - 3:00 PM</td>
    </tr>
    <tr>
      <td>
        Chase Smith (CBS)
      </td>
      <td>Network Administrator</td>
      <td>
        <span class="glyphicon glyphicon-phone-alt"> x3059</span>
      </td>
      <td>
        <a class=Copy href="mailto:Chase.Smith@aerocontrols.com"><span class="glyphicon glyphicon-envelope"></span></a>
      </td>
      <td>07:00 AM - 4:00 PM</td>
    </tr>
    <tr>
      <td>
        Peter Alford (PA1):
      </td>
      <td>
        eMRO Helpdesk
      </td>
      <td>
        <span class="glyphicon glyphicon-phone-alt"> x3053</span>
      </td>
      <td>
        <a class=Copy href="mailto:Peter.Alford@aerocontrols.com"><span class="glyphicon glyphicon-envelope"></span></a>
      </td>
      <td>08:00 AM - 5:00 PM</td>
    </tr>
  </table>
</div>
<table class="col-lg-12" align="center">
  <tr>
    <th class="col-lg-4">
      DOCUMENTATION
    </th>
    <th class="col-lg-4">
      TOOLS
    </th>
    <th class="col-lg-4">
      IT REQUESTS
    </th>
  </tr>
  <tr>
    <td>
      <a class="Copy" href="S:\QA\READONLY\Procedures Master List\Masterlist.htm"><span class="glyphicon glyphicon-file">ISO Procedures</span></a><br>
      <a class="Copy" href="Files/ACIP8050_Mitel.htm"><span class="glyphicon glyphicon-file">Phone Instructions</span></a><br>
      <hr>
      <br>
      <a class="Copy" href="FILES/HelpDesk.htm"><span class="glyphicon glyphicon-list-alt"> Help Desk Tutorial</span></a><br>
      <a class="Copy" href="FILES/ADRS_Scan.htm"><span class="glyphicon glyphicon-list-alt"> Document Scanning Tutorial</span></a><br>
      <a class="Copy" href="FILES/Microsoft_Training.htm"><span class="glyphicon glyphicon-list-alt"> Microsoft Office 2010 Training</span></a><br><br><br>

      <hr>

      <a class="Copy" href="FILES/InstallInstructions.htm"><strong>MIS Dept Use Only</strong></a><br>
      <a class="Copy" href="../../GENERAL/LOGS"><span class="glyphicon glyphicon-list-alt"> LOGS</span></a><br>

      <br>
    </td>
    <td nowrap valign=top class=Border style="width:272px">
      <a class="Copy" target="_blank" href="FILES/DOCS/SPR_FORM.pdf" title="(This is a fillable form)"><span class="glyphicon glyphicon-file">Supplies Purchase Requisition Form</span></a><br>
      <a class="Copy" target="_blank" href="FILES/DOCS/On-SiteWorkOrder.doc"><span class="glyphicon glyphicon-file">On-Site Work Order Form</span></a><br>
      <hr>
      <br>
      <a class="Copy" href="http://10.0.0.5/cgi-bin/FileImgToPDF.exe"><span class="glyphicon glyphicon-list-alt"> Create PDF from Images</span></a><br>
      <a class="Copy" href="http://10.0.0.5/cgi-bin/PDFDISTILLER.exe"><span class="glyphicon glyphicon-list-alt"> Create PDF from PS (Acrobat Distiller)</span></a><br>
      <a class="Copy" href="http://10.0.0.5/cgi-bin/FileExtractPDF.exe"><span class="glyphicon glyphicon-list-alt"> Extract Pages from PDF files</span></a><br>
      <a class="Copy" href="http://10.0.0.5/cgi-bin/FilePSToPDF.exe"><span class="glyphicon glyphicon-list-alt"> Create PDF from PS</span></a><br>
      <a class="Copy" href="http://www.ps2pdf.com/convert/convert.htm"><span class="glyphicon glyphicon-list-alt"> Create PDF from PS (PS2PDF.COM)</span></a><br />
      <hr>
    </td>
    <td nowrap valign=top class=Border style="width:272px">
      <a class="Copy" href="http://aci-kbox1100/"><span class="glyphicon glyphicon-file">Help Desk Portal</span></a><br>
      <a class="Copy" href="FILES/DOCS/Program_Change_Request.pdf"><span class="glyphicon glyphicon-file">Program Change Request Form</span></a><br>
      <hr />
      <br><br><br><br><br><br><hr />
    </td>
  </tr>
</table>
<!--<div>
  <span [innerHTML]="Articles.Article"></span>

</div>-->

