<div>

  <div cellspacing="2" align="center">
    <p class="BlueHeader">IT Quick Fixes</p>
  </div>
  <div align="center" cellspacing="2" class="BlueHeaderMedium">
    <p>
      Simply Click to Apply the Fix. You will need to click run on the corresponding pop-up.
  </div>

  <table border="0" cellpadding="0" cellspacing="0" align="center" style="background-color:white">
    <tr>
      <td class=Border style="width:272px">
        <p class=BlueHeaderMediumBold>Shortcut</p>
      </td>
      <td class=Border style="width:400px">
        <p class=BlueHeaderMediumBold>Summary</p>
      </td>
      <td class=Border style="width:272px">
        <p class=BlueHeaderMediumBold>Email a question about this fix</p>
      </td>
    </tr>
    <tr>
      <td valign=top class=Border style="width:272px">
        <p class=Copy align="center">
          <br>
          <a class="container Copy" href="\\aci-dc1\SYSVOL\aerocontrols.com\GPOfiles\Windows_Sidebar\deleteSidebarSettings.cmd"><img class=Image src="FILES/IMAGES/cmd-icon.png" alt="image">Reset Gadget Settings</a>
        </p>
      </td>
      <td valign=top class=Border style="width:400px">
        <p class="container Copy" align="center">
          <br>
          If your gadget is not displaying just click this fix to remove the gadget safely and allow you to right-click on the desktop and add it again
        </p>
      </td>
      <td valign=top class=Border style="width:272px">
        <p class="container Copy" align="center">
          <br>
          <a href="mailto:mis@aerocontrols.com?subject=Gadget Quick Fix Question">Email: MIS Support</a>
        </p>
      </td>
    </tr>
    <tr>
      <td valign=top class=Border style="width:272px">
        <p class=Copy align="center">
          <br>
          <a class="container Copy" href="\\aci-dc1\SYSVOL\aerocontrols.com\GPOfiles\QuickFixes\BarracudaFix.cmd"><img class=Image src="FILES/IMAGES/cmd-icon.png" alt="image">Barracuda Fix</a>
        </p>
      </td>
      <td valign=top class=Border style="width:400px">
        <p class="container Copy" align="center">
          <br>
          Run this quick fix if you are having issues with Barracuda
        </p>
      </td>
      <td valign=top class=Border style="width:272px">
        <p class="container Copy" align="center">
          <br>
          <a href="mailto:mis@aerocontrols.com?subject=Gadget Quick Fix Question">Email: MIS Support</a>
        </p>
      </td>
    </tr>
    <tr>
      <td valign=top class=Border style="width:272px">
        <p class=Copy align="center">
          <br>
          <a class="container Copy" href="\\aci-dc1\SYSVOL\aerocontrols.com\GPOfiles\QuickFixes\GPupdate.cmd"><img class=Image src="FILES/IMAGES/cmd-icon.png" alt="image">GPupdate</a>
        </p>
      </td>
      <td valign=top class=Border style="width:400px">
        <p class="container Copy" align="center">
          <br>
          Run this quick fix when directed by IT to update your computer/user policies.
        </p>
      </td>
      <td valign=top class=Border style="width:272px">
        <p class="container Copy" align="center">
          <br>
          <a href="mailto:mis@aerocontrols.com?subject=Gadget Quick Fix Question">Email: MIS Support</a>
        </p>
      </td>
    </tr>
    <tr>
      <td valign=top class=Border style="width:272px">
        <p class=Copy align="center">
          <br>
          <a class="container Copy" href="\\aci-dc1\SYSVOL\aerocontrols.com\GPOfiles\QuickFixes\dnsflush.cmd"><img class=Image src="FILES/IMAGES/cmd-icon.png" alt="image">DNS flush</a>
        </p>
      </td>
      <td valign=top class=Border style="width:400px">
        <p class="container Copy" align="center">
          <br>
          Run this quick fix when directed by IT to update your computer's DNS.
        </p>
      </td>
      <td valign=top class=Border style="width:272px">
        <p class="container Copy" align="center">
          <br>
          <a href="mailto:mis@aerocontrols.com?subject=Gadget Quick Fix Question">Email: MIS Support</a>
        </p>
      </td>
    </tr>
    <tr>
      <td valign=top class=Border style="width:272px">
        <p class=Copy align="center">
          <br>
          <a class="container Copy" href="\\aci-dc1\SYSVOL\aerocontrols.com\GPOfiles\Re-CreateOutlookProfile\recreateprofile.cmd"><img class=Image src="FILES/IMAGES/cmd-icon.png" alt="image">Reset Outlook Profile</a>
        </p>
      </td>
      <td valign=top class=Border style="width:400px">
        <p class="container Copy" align="center">
          <br>
          If Outlook is acting very glitchy, is prompting you for your password when you first open outlook, or you are receive the "Cannot start Microsoft Outlook" message this fix will re-create your outlook profile. <U>IF YOU UTILIZE EMAIL ARCHIVING</U> be sure to call the IT Dept first, as your archive may need to be saved prior to resetting your profile.
        </p>
      </td>
      <td valign=top class=Border style="width:272px">
        <p class="container Copy" align="center">
          <br>
          <a href="mailto:mis@aerocontrols.com?subject=Outlook Profile re-creation Question">Email: MIS Support</a>
          <br>
          <a href="S:\MIS\READONLY\INTRANET\Tutorials\Reset Outlook Profile.docx">View full tutorial</a>
        </p>
      </td>
    </tr>
  </table>

  <p align="center"><span style="COLOR: green"><span class="Header"><a href="../../../INTERNET/DESKTOP/Index.htm">Back to Home</a></span></span></p>

</div>
