<div class="col-md-12 responsive" id="well">
  <div>
    To view your QWA count: <a href="HR/QWAs/CurrentQWAs.pdf" target="_blank">click here!</a><br />
    Questions? Contact ERC x3064 or Erc@AeroControls.com
  </div>
  <div>
    <h3>QWA Forms:</h3><br />
    <a href="file:///\\aci-cluster\vol1\SHARE\PAYROLL\READONLY\INTRANET WELLNESS\Forms/Doctor-Dentist%20form.pdf" target="_blank">Doctor/Dentist Visit</a> |
    <a href="file:///\\aci-cluster\vol1\SHARE\PAYROLL\READONLY\INTRANET WELLNESS\Forms/Exercise%20Log.pdf" target="_blank">Exercise Log</a> |
    <a href="file:///\\aci-cluster\vol1\SHARE\PAYROLL\READONLY\INTRANET WELLNESS\Forms/Daily%20Food%20Diary.pdf" target="_blank">Daily Food Diary</a> |
    <a href="file:///\\aci-cluster\vol1\SHARE\PAYROLL\READONLY\INTRANET WELLNESS\Forms/QWA%20Confirmation%20Form.pdf" target="_blank">Confirmation Form</a><br />
    (Please
    Note: The Confirmation Form is only needed if you do not want us to keep a copy
    of your exercise log, food log, or doctor/dentist visit form)<br />
    
  </div>
  <div>
    <h4>Flu Shots</h4><br />
    <a href="file:///\\Aci-cluster\vol1\SHARE\PAYROLL\READONLY\INTRANET%20WELLNESS\Forms\Flu%20Shots\2018%20Patient%20Consent%20Form.pdf">Consent Form</a><br />
  </div>
</div>

<div class="WordSection1">
  <p>
    <b>
      <span >Current Quarter Wellness Dates:</span>
    </b>
  </p>
  <p>
    <b>
      <span style="font-size:16.0pt;
color:#0A0A0A">01/01/2019 to 03/31/2019</span>
    </b>
  </p>

  <p>
    <b>

      Aero Controls is the
      proud winner of Alliant’s Wellness Award for 2018! Alliant works with Aero
      Controls as our benefits broker and we were selected based on the wellness program
      we offer here. Employees graciously took part in a video that captured what
      wellness means to the people here and how it has affected not just life at
      work, but also outside of work. Click on one of the links below to see the
      video!

    </b>
  </p>
  <p><a href="https://urldefense.proofpoint.com/v2/url?u=https-3A__youtu.be_4iegZDvPajo&amp;d=DwMFaQ&amp;c=euGZstcaTDllvimEN8b7jXrwqOf-v5A_CdpgnVfiiMM&amp;r=fG9IAI8JzEsaGX_y5nBZ8NJ0BxXcy8i7KQMicrDJScQ&amp;m=1kwgaftlXmSxL-V6mNtWJJWAVDXLhC9RKxSCmGEb_7Q&amp;s=ZmYeTSz2a9lbcZREhtmNSXBXsSA6_jLwGhhsl8THQ7w&amp;e=">https://youtu.be/4iegZDvPajo</a></p>
  <!--<video width="400" controls >
      <source src="https://www.youtube.com/embed/4iegZDvPajo" />
    </video>-->
  <iframe width="400" height="225" src="https://www.youtube.com/embed/4iegZDvPajo" frameborder="0" allowfullscreen></iframe>
  <p><a href="https://urldefense.proofpoint.com/v2/url?u=https-3A__www.dropbox.com_s_evogkt9aqr4bx8o_Aero-20Controls-20V3.mp4-3Fdl-3D0&amp;d=DwMFaQ&amp;c=euGZstcaTDllvimEN8b7jXrwqOf-v5A_CdpgnVfiiMM&amp;r=fG9IAI8JzEsaGX_y5nBZ8NJ0BxXcy8i7KQMicrDJScQ&amp;m=1kwgaftlXmSxL-V6mNtWJJWAVDXLhC9RKxSCmGEb_7Q&amp;s=LaWSP_mpuDS2LCDwk83F3VRs9wR1S6UxZNMh5p_JFP0&amp;e=">Customer Support Administrator</a></p>
  <p>
    <strong>
      We have a lot going on this month! Read on to learn how you can earn
      your QWA’s right now!
    </strong>

  </p> <hr />
       <div class="changeData">

         <p>
           <strong><em><u>Biometric Screenings are coming up!</u></em></strong>
         </p>
         <p>
           <strong><em><u></u></em></strong>
         </p>
         <p>
           Take an easy step towards a healthier you! Our upcoming biometric screening
           event will give you a chance to find out what your blood pressure, blood
           glucose, cholesterol, and BMI (body mass index) numbers are, and what they
           mean&#8212;free of charge. This screening gives you reliable information
           about your current and potential risk for preventable diseases such as
           diabetes, heart disease, and hypertension, so you and your health care
           provider can take steps toward preventing serious health problems in the
           future.
         </p>
         <p>
           <strong>
             <u>
               For current Wellness Program participants, the biometric screening
               is mandatory
             </u>
           </strong>
           <strong>. </strong>
           If you are unable to make it to either of the on-site biometric screening
           events, you can see your doctor directly to complete a screening and then
           fax in the provider form. This form will be available in the ERC office and
           on the intranet site by next week (stay tuned).
         </p>
         <p>
           We will have two people on-site who will be performing the screenings and
           explaining what the results mean to your health. The screeners will also
           give each participant a personal health report to take home.    <strong> </strong>It is recommended to fast for 9-12 hours prior to testing
           to avoid misleading results, but it is not required.
         </p>
         <p>
           <strong>
             <em>
               Take a few minutes for yourself and your health. Register today for
               this event!
             </em>
           </strong>
           <em></em>
         </p>
         <p>
           <strong> </strong>
         </p>
         <p>
           <strong>When:</strong>
           January 23<sup>rd</sup> &amp; January 29<sup>th</sup> 6:00AM to 11:50AM
           Each Day, <strong><em>10 minute increments</em></strong>
         </p>
         <p>
           <strong>Where:</strong>
           4<sup>th</sup> Floor SW Conference Room
         </p>
         <p>
           <strong>How to register:</strong>
           Come to the ERC Office to sign up!
         </p>
         <p>
           <em>
             (The event is being administered by <strong>Vivacity &#8211; </strong>
             Premera&#8217;s wellness consulting company)
           </em>
         </p>
         <p>
           <strong>All participants will receive 1 QWA</strong>
         </p>
         <p>
           <strong>
             <em>
               <u>
                 Health Risk Assessment is now available through Premera&#8217;s
                 website!
               </u>
             </em>
           </strong>
         </p>
         <p>
           <strong><em><u></u></em></strong>
         </p>
         <p>
           As some of you may know, each year we do a Health Risk Assessment
           Questionnaire as part of our Wellness Program requirements. These
           assessments help give you a picture of your overall health and allows you
           to see what you&#8217;re doing well and what areas may need some extra
           attention. Since we did this through Premera Blue Cross last year, most all
           of you should have a login with Premera to complete it again this year.
         </p>
         <p>
           Just like the biometric screening, completion of the questionnaire is    <strong>mandatory</strong> in order to remain on the Wellness Program.
           Failure to do so will result in removal from the Wellness Program and an
           increase in your insurance rates for the year.
         </p>
         <p>
           In order to complete the questionnaire, you must login with your
           credentials you created last year. If you are new to the Premera plan, you
           must create a login on the Premera webpage,    <a href="http://www.premera.com/">www.premera.com</a> (there is a quick
           link on the Aero Controls Intranet page as well). Simply go to Premera.com,
           click &#8216;Log In&#8217; on the upper right side of the screen, and
           select &#8216;Create new account now&#8217;.
         </p>
         <p>
           Once your account is set up, please follow the instructions in the attached
           to complete the questionnaire.
         </p>
         <p>
           You will want to set aside 15-20 minutes to complete the questionnaire. If
           you start it but cannot complete it until a later date, you may save and
           close the questionnaire window. It will pick up where you left off when you
           log back in. Premera will supply Aero Controls a report of all the
           employees that have completed the HRA, so screenshots or printouts are not
           required this year.
         </p>
         <p>
           The Health Risk Assessment Questionnaire must be completed no later than    <strong>Sunday March 31<sup>st</sup>, 2019.</strong>
           <strong>
             You will also receive (1) QWA for the 1<sup>st</sup> Quarter for
             completing the HRA.
           </strong>
         </p>
         <p>
           If you have any questions at all, please come see us in the Employee
           Resource Center.
         </p>
         <p>
           <strong><em><u></u></em></strong>
         </p>
         <p>
           ______________________________________________<strong></strong>
         </p>
         <p>
           <strong><em><u></u></em></strong>
         </p>
         <p>
           <strong>
             <em>
               <u>Our next workshop will be coming in February, stay tuned!</u>
             </em>
           </strong>
         </p>
         <p>
           <strong><em><u></u></em></strong>
         </p>
         <p>
           _______________________________________________
         </p>
         <p>
           <strong><em><u></u></em></strong>
         </p>
         <p>
           <strong><em><u>Rec Leagues!</u></em></strong>
         </p>
         <p>
           No rec leagues at this time. Have ideas for a rec league? We want to know!
           Send an email to    <a href="mailto:erc@aerocontrols.com">erc@aerocontrols.com</a> with your
           rec league suggestion and we might implement it.
         </p>
         <p>
           <strong><em><u>Walking Club</u></em></strong>
         </p>
         <p>
           Do you walk at lunch or on your breaks? Want to earn a QWA just for doing
           your normal walks? Join the Walking Club!
         </p>
         <p>
           Walk for at least 25-30 minutes, 4 times a month (during your lunch or
           break) and earn 1 QWA each month for participating! To sign up, simply go
           to the front office and let them know that you would like to be added to
           the Walking Club sheet. Remember, it must be for a period of 25-30 minutes
           and you must walk at least 4 times a month. After you join, don&#8217;t
           forget to check out and check in with the front desk so they can log your
           times!
         </p>
         <p>
           <strong><em><u></u></em></strong>
         </p>
         <p>
           <strong><em><u>KrowdFit</u></em></strong>
           <strong><em><u></u></em></strong>
         </p>
         <p>
           A few things will be changing for 2019 &#8211; such as the price to join!
           Instead of $12.99 + tax, KrowdFit has reduced the cost to only $6.99 + tax.
           If you meet the 30% participation mark, we will cover the cost of the $6.99
           fee. If you have any questions about enrolling in KrowdFit, please e-mail
           us at <a href="mailto:erc@aerocontrols.com">erc@aerocontrols.com</a> for
           the sign up link and further details! Check out the below attachments to
           help get you started!
         </p>
         <p>
           <a href="file://aci-cluster/vol1/SHARE/HR/SECURE/2.%20Wellness/8%20KrowdFit/2018/KrowdFit%20QA%202018.pdf">
             Q&amp;A
           </a>
           2019
         </p>
         <p>
           <a href="file://aci-cluster/vol1/SHARE/HR/SECURE/2.%20Wellness/8%20KrowdFit/2018/Handy%20Forms/2018%20ACI%20KrowdFit%20Participation%20Levels.pdf">
             2019 ACI KrowdFit Participation Levels
           </a>
         </p>
         <p>
           <a href="file://aci-cluster/vol1/SHARE/PAYROLL/READONLY/INTRANET%20WELLNESS/Forms/KrowdFit%202017/KrowdFit%20Device%20Comparison.pdf">
             KrowdFit Device Comparison
           </a>
         </p>
         <p>
           <a href="file://aci-cluster/vol1/SHARE/PAYROLL/READONLY/INTRANET%20WELLNESS/Forms/KrowdFit%202017/KrowdFit%20Member%20Flyer.pdf">
             KrowdFit Member Flyer
           </a>
           <img border="0"
                width="285"
                height="177"
                src="../../assets/KrowdFit.png"
                alt="health and wellness" />
         </p>
         <p>
           <strong>To view your percentage</strong>
           , log in to your KrowdFit account (online or on your mobile phone) and
           click on My Krew. This will show your
         </p>
         <p>
           progress in comparison to the 30% goal.
         </p>
       </div>
</div>
<!--<div>
        <span [innerHTML]="Articles.Article"></span>
      
      </div>-->
