<p align="center">
  Manager Forms
</p>
<p align="center">
  <img width="203"
       height="152"
       src="file:///C:/Users/ceadmin/AppData/Local/Temp/msohtmlclip1/01/clip_image002.jpg" />
</p>
<ul>
  <li>
    <a href="file://aci-cluster/vol1/SHARE/PAYROLL/READONLY/INTRANET/HTML/3%20Manager%20Forms/Employee%20Evaluation%20Form%20(Non-Manager)_savable.pdf"
       target="_blank">
      Evaluation Form (Non-Manager)
    </a>
  </li>
  <li>
    <a href="file://aci-cluster/vol1/SHARE/PAYROLL/READONLY/INTRANET/HTML/3%20Manager%20Forms/Employee%20Evaluation%20Form%20(Supervisor_Manager)_savable.pdf"
       target="_blank">
      Evaluation Form (Supervisor/Manager)
    </a>
  </li>
  <li>
    <a href="file://aci-cluster/vol1/SHARE/PAYROLL/READONLY/INTRANET/HTML/3%20Manager%20Forms/2018-09-20%20Employee%20Termination%20Checklist.pdf">
      Termination Checklist Employee
    </a>
  </li>
  <li>
    <a href="file://aci-cluster/vol1/SHARE/PAYROLL/READONLY/INTRANET/HTML/3%20Manager%20Forms/Employee%20Warning%20Notice%20revised.pdf"
       target="_blank">
      Employee Warning Notice
    </a>
  </li>
  <li>
    <a href="file://aci-cluster/vol1/SHARE/PAYROLL/READONLY/INTRANET/HTML/3%20Manager%20Forms/Payroll%20Status%20Change%20Form.pdf"
       target="_blank">
      Payroll Status Change Form
    </a>
  </li>
  <li>
    <a href="file://aci-cluster/vol1/SHARE/PAYROLL/READONLY/INTRANET/HTML/3%20Manager%20Forms/Proprietary%20Information%20Agreement.doc">
      Proprietary Information Agreement
    </a>
  </li>
  <li>
    <a href="file://aci-cluster/vol1/SHARE/PAYROLL/READONLY/INTRANET/HTML/3%20Manager%20Forms/Supervisor's%20Incident%20Investigation%20Report.pdf">
      Supervisors’ Accident Report
    </a>
  </li>
  <li>
    <a href="file://aci-cluster/vol1/SHARE/PAYROLL/READONLY/INTRANET/HTML/3%20Manager%20Forms/Supervisor_Toolbox.pdf">
      Supervisors’ Toolbox
    </a>
  </li>
  <li>
    <a href="file://aci-cluster/vol1/SHARE/PAYROLL/READONLY/INTRANET/HTML/3%20Manager%20Forms/Form%20W4%202017.pdf">
      Form W-4 (2017)
    </a>
    <u></u>
  </li>
  <li>
    <a href="file://aci-cluster/vol1/SHARE/PAYROLL/READONLY/INTRANET/HTML/3%20Manager%20Forms/Form%20I-9%202017.pdf">
      Form I-9 Employment Eligibility Verification (till 2019)
    </a>
  </li>
  <li>
    <a href="file://aci-cluster/vol1/SHARE/PAYROLL/READONLY/INTRANET/HTML/3%20Manager%20Forms/Uniforms%20Order%20Form.PDF"
       target="_blank">
      Uniforms Order Form
    </a>
  </li>
  <li>
    <a href="file://aci-cluster/vol1/SHARE/PAYROLL/READONLY/INTRANET/HTML/3%20Manager%20Forms/Computer%20Use%20Guidelines%20Acknowledgement%2011-9-15.docx"
       target="_blank">
      Acknowledgment Computer Policy Form
    </a>
  </li>
  <li>
    <a href="file://aci-cluster/vol1/SHARE/PAYROLL/READONLY/INTRANET/HTML/3%20Manager%20Forms/Meal%20waiver.pdf">
      Meal Period Waiver
    </a>
  </li>
</ul>

