
<h4>Payroll</h4>
<table border="1">
  <tbody>
    <tr>
      <td width="575" colspan="2" valign="top">
        <p align="center">
          <img width="105"
               height="136"
               src="/clip_image002.gif"
               align="left"
               hspace="12" />
          <strong>Employee Resource Center </strong>
        </p>
        <p align="center">
          <strong>&amp; Payroll</strong>
        </p>
      </td>
    </tr>
    <tr>
      <td width="575" colspan="2" valign="top"></td>
    </tr>
    <tr>
      <td width="575" colspan="2" valign="top"></td>
    </tr>
    <tr>
      <td width="264"></td>
      <td width="312" valign="top">
        <p align="center">
          <strong>
            <!--<img width="34"
                 height="34"
                 src="file:///C:/Users/ceadmin/AppData/Local/Temp/msohtmlclip1/01/clip_image004.gif" />-->
          </strong>
          <strong>
            <a href="/Managers">
              Manager Forms
            </a>
          </strong>
        </p>
      </td>
    </tr>
    <tr>
      <td width="264" valign="top">
        <p align="center">
          <strong></strong>
        </p>
        <p align="center">
          <strong>
            <img border="0"
                 width="33"
                 height="33"
                 src="file:///C:/Users/ceadmin/AppData/Local/Temp/msohtmlclip1/01/clip_image005.gif" />
          </strong>
          <strong>
            <a href="file:///S:/PAYROLL/READONLY/INTRANET/HTML/empforms.htm">
              Employee Forms
            </a>
          </strong>
        </p>
      </td>
      <td width="312"></td>
    </tr>
    <tr>
      <td width="264"></td>
      <td width="312" valign="top">
        <p align="center">
          <img border="0"
               width="34"
               height="34"
               src="file:///C:/Users/ceadmin/AppData/Local/Temp/msohtmlclip1/01/clip_image006.gif" />
          <strong>
            <a href="file:///S:/PAYROLL/READONLY/INTRANET/HTML/beninfor.htm">
              Benefits Center
            </a>
          </strong>
        </p>
      </td>
    </tr>
  </tbody>
</table>
<p>
  <a href="http://intranet.aerocontrols.com/">Home</a>
</p>
<table border="1" cellspacing="0" cellpadding="0" align="right">
  <tbody>
    <tr>
      <td width="610" valign="top">
        <p align="center">
          <strong>Your Employee Resource Center Team</strong>
        </p>
        <p align="center">
          <strong>Tiffany Trieschmann ERC Manager</strong>
        </p>
        <p align="center">
          <a href="mailto:Tiffany.Trieschmann@AeroControls.com">
            Tiffany.Trieschmann@AeroControls.com
          </a>
        </p>
        <p align="center">
          253-269-3064
        </p>
        <p align="center">
          <strong>Paul John Payroll</strong>
        </p>
        <p align="center">
          <a href="mailto:Paul.John@AeroControls.com">
            Paul.John@AeroControls.com
          </a>
        </p>
        <p align="center">
          253-269-3060
        </p>
        <p align="center">
          Feel free to contact us at our general email at:
          <a href="mailto:Erc@AeroControls.com">
            Erc@AeroControls.com
          </a>
        </p>
      </td>
    </tr>
  </tbody>
</table>
<table border="1" cellspacing="0" cellpadding="0" width="756">
  <tbody>
    <tr>
      <td width="756" valign="top">
        <p align="center">
          <strong>Awards</strong>
        </p>
      </td>
    </tr>
    <tr>
      <td width="756" valign="top">
        <p align="center">
          <strong>
            <a href="file:///S:/PAYROLL/READONLY/INTRANET/PRESIDENT'S%20AWARD_files/PRESIDENT'S%20AWARD.htm">
              President's Award
            </a>
          </strong>
          <strong></strong>
        </p>
      </td>
    </tr>
    <tr>
      <td width="756" valign="top">
        <p align="center">
          <strong>
            <a href="file:///S:/PAYROLL/READONLY/INTRANET/MANAGER%20OF%20THE%20YEAR_files/MANAGER%20OF%20THE%20YEAR.htm">
              Manager of the Year Award
            </a>
          </strong>
          <strong></strong>
        </p>
      </td>
    </tr>
    <tr>
      <td width="756" valign="top">
        <p align="center">
          <strong>
            <a href="file:///S:/PAYROLL/READONLY/INTRANET/TEAM%20PLAYER%20OF%20THE%20YEAR_files/TEAM%20PLAYER%20OF%20THE%20YEAR.htm">
              Team Player of the Year Award
            </a>
          </strong>
        </p>
      </td>
    </tr>
    <tr>
      <td width="756" valign="top">
        <p align="center">
          <strong>
            <a href="file:///S:/PAYROLL/READONLY/INTRANET/Employee%20of%20the%20Year_files/EMPLOYEE%20OF%20THE%20YEAR2.htm">
              Employee of the Year Award
            </a>
          </strong>
        </p>
      </td>
    </tr>
    <tr>
      <td width="756" valign="top">
        <p align="center">
          <strong>
            <a href="file:///S:/PAYROLL/READONLY/INTRANET/2013%20Employee%20of%20the%20Month_files/2013%20Employee%20of%20the%20Month.htm">
              Employee of the Month Award 2013
            </a>
          </strong>
        </p>
      </td>
    </tr>
    <tr>
      <td width="756" valign="top">
        <p align="center">
          <strong>
            <a href="file:///S:/PAYROLL/READONLY/INTRANET/2012%20Employee%20of%20the%20Month_files/2012%20Employee%20of%20the%20Month.htm">
              Employee of the Month Award 2012
            </a>
          </strong>
        </p>
      </td>
    </tr>
    <tr>
      <td width="756" valign="top">
        <p align="center">
          <strong>
            <a href="file:///S:/PAYROLL/READONLY/INTRANET/2011%20Employee%20of%20the%20Month_files/2011%20Employee%20of%20the%20Month.htm">
              Employee of the Month Award 2011
            </a>
          </strong>
        </p>
      </td>
    </tr>
    <tr>
      <td width="756" valign="top">
        <p align="center">
          <strong>
            <a href="file:///S:/PAYROLL/READONLY/INTRANET/2010%20Employee%20of%20the%20Month_files/2010%20Employee%20of%20the%20Month.htm">
              Employee of the Month Award 2010
            </a>
          </strong>
        </p>
      </td>
    </tr>
    <tr>
      <td width="756" valign="top">
        <p align="center">
          <strong>
            <a href="file:///S:/PAYROLL/READONLY/INTRANET/2009%20Emp%20of%20the%20Month_files/2009%20Emp%20of%20the%20Month.htm">
              Employee of the Month Award 2009
            </a>
          </strong>
        </p>
      </td>
    </tr>
    <tr>
      <td width="756" valign="top">
        <p align="center">
          <strong>
            <a href="file:///S:/PAYROLL/READONLY/INTRANET/2008%20Emp%20of%20the%20Month_files/2008%20Emp%20of%20the%20Month.htm">
              Employee of the Month Award 2008
            </a>
          </strong>
        </p>
      </td>
    </tr>
    <tr>
      <td width="756" valign="top">
        <p align="center">
          <strong>
            <a href="file:///S:/PAYROLL/READONLY/INTRANET/2007%20Emp%20of%20the%20Month_files/2007%20Emp%20of%20the%20Month.htm">
              Employee of the Month Award 2007
            </a>
          </strong>
        </p>
      </td>
    </tr>
    <tr>
      <td width="756" valign="top">
        <p align="center">
          <strong></strong>
        </p>
      </td>
    </tr>
  </tbody>
</table>
