<div class="bldgeng">
  <div class="transbox">
    <h1>Bldg Eng</h1>
  </div>
</div>
<h2 align="left">
  <strong>
    Auburn Facility -
    Pike Street, Auburn ,WA
  </strong>
</h2>

  <p align="left">
    45,000 sq. ft. of office and
    manufacturing space.
  </p>

<h2 align="left">
  <strong>
    Shelton Facility on Dayton Airport
    Rd., Shelton, WA
  </strong>
</h2>

  <p align="left">
    75,000 sq. ft. total area: 35,000 sq. ft.
    production space and 40,000 sq. ft. storage space.
  </p>

<h2 align="left"><strong>Auburn - 20th St. NW, Auburn, WA</strong></h2>

  <p align="left">
    104,000 sq. ft. total area: 26,000 sq.
    ft. of offices, 26,000 sq. ft. storage space, and 52,000
    sq.ft. production area.
  </p>

  <p align="left">Construction began September, 1998.</p>

  <p align="left">
    Type of construction: Type II fire
    resistive, sprinklered.
  </p>

  <p align="left">
    Four story cast in place concrete
    building with moment frame and prestressed concrete
    floors.
  </p>


      <h3 align="left">
        The purpose of the Building
        Facilities Department is to maintain each of the
        existing Aero Controls buildings as a safe and
        healthy work environment.
      </h3>
    
    <ul type="disc">
      <li>
        <h3 align="left">
          A very exciting part of this
          department is the construction of the new
          structure at 1610 20th Street NW, in Auburn.
        </h3>
      </li>
      <li>
        <p align="left">
          <font size="4">
            <strong>
              PROJECT
              TEAM:
            </strong>
          </font>
        </p>
        <ul>
          <li>
            <p align="left">
              <font size="4">
                <strong>
                  Owner
                  - Rainier View Properties, LLC
                </strong>
              </font>
            </p>
          </li>
          <li>
            <p align="left">
              <font size="4">
                <strong>
                  Architect
                  - Lance Mueller &amp; Associates
                </strong>
              </font>
            </p>
          </li>
          <li>
            <p align="left">
              <font size="4">
                <strong>
                  Structural
                  Engineer - Engineers Northwest
                </strong>
              </font>
            </p>
          </li>
          <li>
            <p align="left">
              <font size="4">
                <strong>
                  Civil
                  Engineer - Cosmpolitan Engineering
                  Group
                </strong>
              </font>
            </p>
          </li>
          <li>
            <p align="left">
              <font size="4">
                <strong>
                  Electrical
                  Engineer - BCE Engineers, Inc.
                </strong>
              </font>
            </p>
          </li>
          <li>
            <p align="left">
              <font size="4">
                <strong>
                  Mechanical
                  Engineer - BCE Engineers, Inc.
                </strong>
              </font>
            </p>
          </li>
          <li>
            <p align="left">
              <font size="4">
                <strong>
                  Landscape
                  Architect - Cosmopolitan Engineering
                  Group
                </strong>
              </font>
            </p>
          </li>
          <li>
            <p align="left">
              <font size="4">
                <strong>
                  Geotechnical
                  Engineer - Geoengineers, Inc.
                </strong>
              </font>
            </p>
          </li>
        </ul>
      </li>
    </ul>
    <p align="left">
      <br>
      <font size="5" face="CityBlueprint">
        <strong>
          The New
          Building
        </strong>
      </font>
    </p>
    <ul>
      <li>
        <h4 align="left">
          <font size="4"
                face="Cataneo BT">
            Questions about the new
            building:
          </font>
        </h4>
      </li>
    </ul>
    
      <ul>
        <li>
          <h5 align="left">When will it be done? </h5>
        </li>
        <li>
          <h5 align="left">Where will I be working?</h5>
        </li>
        <li>
          <h5 align="left">
            What about the elevator
            to the fourth floor?
          </h5>
          <p align="left">
            The EcoSystem Elevator is
            a new kind of AC gearless traction
            passenger elevator that provides fast,
            quiet performance and uses no hydrallic
            fluid. There are two other elevators, one
            traction freight and one dumbwaiter. All
            three are installed by KONE, Inc.
          </p>
        </li>
      </ul>
    
