
<div class="row responsive">
  <h1>Other Resources</h1>
</div>
<div class="row col-lg-9">
  <div class="col-lg-4">
    <font color="#FF0000" size="2"><b>Other Resources</b></font><br>
    <a href="http://www.schoolreport.org">School Closures</a><br>
    <a href="http://www.ebay.com">EBay</a>
  </div>
  <div class="col-lg-4">
    <a href="file://aci-cluster/vol1/SHARE/INTERNET/India/india.htm" target="_blank"><b>India Connection</b></a> <br>
    <br>
  </div>
</div>
<br>
<br>
<div class="row col-lg-9">
  <div class="col-sm-3">
    <font color="#FF0000" size="2"><b>News Sites</b></font><br>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td style="width: 42px"><a href="http://abcnews.go.com">ABC</a></td>
        <td style="width: 50px"><a href="http://www.king5.com">KING5</a></td>
        <td style="width: 56px"><a href="http://news.bbc.co.uk/">BBC</a></td>
      </tr>
      <tr>
        <td style="width: 42px"><a href="http://www.cbsnews.com">CBS</a></td>
        <td style="width: 50px"><a href="http://www.kirotv.com">KIRO</a></td>
        <td style="width: 56px"><a href="http://www.cnn.com">CNN</a></td>
      </tr>
      <tr>
        <td style="width: 42px"><a href="http://www.nbc.com/news-sports/">NBC</a></td>
        <td style="width: 50px"><a href="http://www.komotv.com">KOMO</a></td>
        <td style="width: 56px"><a href="http://www.msnbc.msn.com">MSNBC</a></td>
      </tr>
      <tr>
        <td style="width: 42px"><a href="http://www.foxnews.com">FOX</a></td>
        <td style="width: 50px"><a href="http://www.nwcn.com">NWCN</a></td>
        <td style="width: 56px"><a href="http://www.reuters.com">REUTERS</a></td>
      </tr>
    </table>
  </div>
  <div class="col-lg-3">
    <font color="#FF0000" size="2"><b>Search Engines</b></font><br>
    <a href="http://www.bing.com">Bing - MSN</a><br>
    <a href="http://www.google.com">Google</a> <br>
    <a href="http://www.yahoo.com">Yahoo!</a><br>
  </div>
  <div class="col-lg-3">
    <font color="#FF0000" size="2"><b>Map Search</b></font><br>
    <a href="http://maps.google.com">Google Maps</a><br>
    <a href="http://www.bing.com/maps/">Bing Maps - MSN</a><br>
    <a href="http://maps.yahoo.com">Yahoo!</a><br>
    <a href="http://www.mapquest.com">MapQuest</a><br>
  </div>
  <div class="col-lg-3">
    <font color="#FF0000" size="2"><b>People Search</b></font><br>
    <a href="http://www.bigbook.com">SuperPages by Verizon</a><br>
    <a href="http://www.anywho.com/rl.html">Reverse Lookup Phone</a><br>
    <a href="http://verify-email.org">Email Verify</a><br>
  </div>

</div>
