

<div class="col-lg-9 responsive">
  <h1 class="center-block">Dictionary ect.</h1>
  <font color="#FF0000" size="2"><b>Dictionary etc.</b></font><br>
  <a href="http://dictionary.cambridge.org" target="_blank">Cambridge Dictionary</a><br>
  <a href="http://dictionary.reference.com/" target="_blank">Dictionary.com</a><br>
  <a href="http://www.merriam-webster.com/" target="_blank">Webster Dictionary</a><br>
  <a href="http://en.wikipedia.org/wiki/Main_Page" target="_blank">Wikipedia Reference</a><br>
  <a href="http://office.microsoft.com/en-us/training/default.aspx" target="_blank">Office Training</a><br />
  <a href="https://www.youtube.com/watch?v=RvQNf1Y7E84&feature=youtu.be" title="Understanding the GHS Labeling System for Containers" target="_blank">GHS Labeling System </a>
</div>
